// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	// =================================================================
	--primary: #0a9396; // Site main color - (Основний колір сайту)
	--secondary: #94d2bd; // Site secondary color - (Додатковий колір сайту)
	--accent: #0090c1; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
	--inverse: #ffff3f; // Site inverse color - (Наприклад: для створення контрасту між фоном та текстом)

	// Background colors (Фонові кольори):
	// =================================================================
	--bg-primary: #242423; // BG primary background color - (Основний фоновий колір сайту)
	--bg-secondary: #7678ed; // BG secondary background color - (Додатковий фоновий колір сайту)
	--bg-accent: #4cc9f0; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
	--bg-inverse: #2d00f7; // BG inverse - наприклад, може використовуватися для налаштування кольору фону на світлому тексті.

	// Text colors (Текстові кольори):
	// =================================================================
	--text-primary: #fbfffe; // Text primary text color - (Основний текстовий колір сайту)
	--text-secondary: #080708; // Text secondary text color - (Додатковий текстовий колір сайту)
	--text-accent: #e8eddf; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	--text-inverse: #e8eddf; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
	// =================================================================
}
